<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= animal.name %>></title>
</head>
<body>
    <%- include('components/navbar') %>

    <main>
        <div class="page-intro">
            <h2><%= animal.intro %> </h2>
        </div>
        <div class="content-container">
            <!-- Sidebar Section -->
             <%- include('components/sidebar') %>
            
            <!-- Items Section -->
            <section class="section items-container">
                
                <div class="profile-container">
                    <!-- Animal Basic Info -->
                    <div class="animal-profile">
                        <div class="profile-header">
                            <img src="<%= animal.img %>" alt="<%= animal.name %>" class="animal-profile-img">
                            <h2><%= animal.name %></h2>
                            <p class="adoption-status">
                                <%= animal.adopted ? "Adopted" : "Available for Adoption" %>
                            </p>
                        </div>
                
                        <div class="animal-details">
                            <p><strong>Species:</strong> <%= animal.species %></p>
                            <p><strong>Age:</strong> <%= animal.age %> <%= animal.age_units %></p>
                            <p><strong>Gender:</strong> <%= animal.gender %></p>
                            <p><strong>Weight:</strong> <%= animal.weight %> <%= animal.weight_unit %></p>
                        </div>
                    </div>
                
                    <!-- Hobbies and Quirks Section -->
                </div>
                
                 
            </section>
        </div>
    </main>

    <script src="/index.js"></script>
</body>
</html>